@charset "UTF-8";

.question--title {
  text-align: center;
}

.Q1-box {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

.Q2-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.Q3-box {
  width: 300px;
  height: 300px;
  background: #0008ff;
  margin-right: 150px;
}

.green-box {
  width: 300px;
  height: 300px;
  background: #22ff00;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container2 {
  width: 600px;
  margin: 0 auto;
}

.blue-box {
  width: 300px;
  height: 300px;
  background: #0008ff;
  float: right;
}

.red-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
  float: left;
}

.container3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.p-relative {
  position: relative;
}

.Q5-A {
  width: 300px;
  height: 300px;
  background: #ff0000;
}
.Q5-B {
  width: 300px;
  height: 300px;
  background: #0008ff;
}
.Q5-C {
  width: 300px;
  height: 300px;
  background: #ff8400;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Q6-A {
  width: 300px;
  height: 300px;
  background: #00ff51;
}
.Q6-B {
  width: 300px;
  height: 300px;
  background: #d4ff00;
}
.Q6-C {
  width: 300px;
  height: 300px;
  background: #ff00e1;
}
.Q7-bluebox {
  display: none;
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.Q7-redbox {
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.Q7-greenbox {
  width: 300px;
  height: 300px;
  background: #00ff51;
}
@media screen and (max-width: 960px) {
  .Q1-box {
    width: 200px;
    height: 200px;
  }
  .Q2-box {
    background: #007bff;
  }
  .Q3-box {
    margin-right: 50px;
  }
  .blue-box {
    float: none;
  }
  .red-box {
    float: none;
  }
  .Q5-A {
    order: 3;
  }
  .Q5-B {
    order: 2;
  }
  .Q6-A {
    order: 2;
  }
  .Q6-B {
    order: 3;
  }
  .Q6-C {
    order: 1;
  }
  .Q7-redbox {
    display: none;
  }
  .Q7-bluebox {
    display: block;
  }
}
